@model List<GameListViewModel>

<h2>Esta es la vista del index de video game</h2>

@{if(Model != null){
    foreach(var item in Model){
        <div>@item.Name - lanzamiento: @item.Realease - antiguedad: @item.Age</div>
        }
    }
}


